<style>
    .modal-content {
        background-color: #212121
    }
</style>

<!-- Add Task -->
<div class="modal fade" id="Modal-AddTask"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- -->
                    Add Task
                </h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST">
                {#{{ add_task_form.hidden_tag() }}#}
                <input type="hidden" name="form_name" value="add_task_form">
                <div class="modal-body">
                    <div class="form-group  ">

                        {#{{ add_task_form.task_name.label(class="form-control-label") }}
                        {{ add_task_form.task_name(class="form-control form-control-lg") }}
                        {{ add_task_form.task_description.label(class="form-control-label") }}
                        {{ add_task_form.task_description(class="form-control form-control-lg") }}#}
                    </div>
                </div>
                <div class="modal-footer">
                    {#{{ add_task_form.submit(class="btn btn-outline-success btn-block") }}#}
                </div>
            </form>
        </div>
    </div>
</div>