{% extends 'base.html' %}
{% block title %}
    tasks Page
{% endblock %}
{% block content %}

    <div class="row" style="margin-top:20px; margin-left:20px">
        <div class="col-8">


            <VIEW-WRAPPER>

                <!--     The task list -->
                <!--    <TASK-ADD></TASK-ADD>-->
                <!--    <VIEW-CONTENT></VIEW-CONTENT>-->
            </VIEW-WRAPPER>
            <br>

            <template id="task-list">
                <div id="wrapper">
                </div>
            </template>
            <template id="table-template">
                {# {% include 'includes/add_task_model2.html' %}#}
                {#   <h2>This are your tasks</h2>
                <button class="btn btn-outline btn-success" data-toggle="modal"
                        data-target="#Modal-AddTask">Add Task
                </button>#}

                <table class="table table-hover table-dark">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">task</th>
                        <th scope="col">description</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

            </template>
        </div>
        <div class="col-4">
            <h2>Chat Box</h2>
            <p>Click on sell task to put an task back on the Market</p>
            <br>
        </div>
    </div>
    </div>
{% endblock %}